
/* main */

.section {
    width: 100%; height: auto;
    padding: 100px 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.section h2 {
    font-size: 47px;
    font-weight: 800;
    padding-bottom: 20px;
}


/* section1  */

.main_section1 {
    width:100%; height: 85vh;
    background-color: blue;
    display: flex;
    flex-flow:column nowrap;
    justify-content: center;
    align-items: center;
    color:#fff;
    position: relative;
    background: url(../images/back.jpg) no-repeat center center;
    background-size: cover;
}

.filter {
    position: absolute;
    width: 100%; height: 85vh;
    background-color: rgba(0,0,0,0.8);
    filter:blur(5px);
}

.main_section1 p {
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
    letter-spacing: 3px;
}

.intro {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    -webkit-text-stroke: 4px #d6f4f4;
    font-variation-settings: "wght" 900, "ital" 1;
    text-align: center;
    color: transparent;
    font-family: "Meta", sans-serif;
    text-shadow: 5px 5px 0px #07bccc,
      10px 10px 0px #189bfa;
    letter-spacing: 5px;
    position: relative;
    cursor:pointer;
}

.intro_mvn {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    -webkit-text-stroke: 4px #d6f4f4;
    font-variation-settings: "wght" 100, "ital" 0;
    font-size: 100px;
    text-align: center;
    color: transparent;
    font-family: "Meta", sans-serif;
    text-shadow: none;
    letter-spacing: 2px;
    position: relative;
    cursor:pointer;
}

.intro::after {
    content: ''; 
    display: block; 
    width: 50px; height: 5px;
    position: absolute;
    bottom:-40px;
    background-color: white;
}

.intro_mvn::after {
    content: ''; 
    display: block; 
    width: 50px; height: 5px;
    position: absolute;
    bottom:-40px;
    background-color: white;
}

.text_one {
    font-size: 52px;
}

.text_two {
    font-size: 68px;
    margin: 25px 0;
}

.text_three {
    font-size: 115px;
}

.section1_text {
    display: flex;
    flex-flow:column nowrap;
    align-items: center;
    margin-top: 80px;
    position: relative;
}

.section1_text p {
    font-size: 1.25rem;
    letter-spacing: 0.1rem;
    line-height: 1.5;
    text-align: center;
}

.main_section1 button {
    position: absolute;
    bottom:50px;
    margin-top: 50px;
    background-color: #5ACFD6;
    width: 130px;
    padding: 15px 0;
    border-radius: 25px;
    font-size: 1.2rem;
    color:#fff;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
    animation: identifier 1s infinite alternate;
    font-weight: 600;
}

@keyframes identifier {
    0% {
        bottom: 60px;
    }
    100% {
        bottom: 50px;
    }
}



/* section2 */

.main_section2 {

}

.main_section2 h2 {
    color:#000;
    border-bottom: 1px solid #ccc;
}


.section2_contents {
    width: 1000px; 
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}


.contents {
    width:30%; 
}


.contents div:nth-of-type(1) {
    margin-bottom: 50px;
}


.contents_box {
    background-color: #fff;
    height: 100px;
    border-radius: 20px;
    box-shadow: 1rem 1rem 1rem 0 rgb(68 68 68 / 20%);
    display: flex;
    flex-flow: row nowrap;
    padding: 0 35px;
    justify-content: flex-start;
    align-items: center;
    transition:  0.2s;
}


.contents_box:hover {
    transform: translateY(5%);
}


.contents_box p {
    margin-right: 20px;
}


.contents_box dl {
    color:#222;
}


.contents_box dl dt {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 600;
}


.contents_box dl dd {
    font-size: 15px;
}

/* section3 */

.main_section3 {
    background-color: #f9c51d;
}

.main_section3 h2 {
    color:#000;
    border-bottom: 1px solid #222;
}

.section3_contents {
    width: 1000px; 
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.side {
    width: 30%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.box {
    padding: 25px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 1rem 1rem 1rem 0 rgb(68 68 68 / 20%);
    transition:  0.2s;
}

.box:hover {
    transform: translateY(-3%);
}

.box h3 {
    font-size: 25px;
    color:#f4623a;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.actual {
  
}

.actual p {
    margin: 10px 0;
}

.actual ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.skill1 .skill1_ul1 {
    background: url(../images/all.png) no-repeat center center;
    background-size: contain;
    width: 100%; height: 100px;
}

.skill1 .skill1_ul2 {
    background: url(../images/reactjs.png) no-repeat center center;
    background-size: contain;
    width: 100%; height: 100px;
}

.skill1 .skill1_ul3 {
    background: url(../images/redux2.png) no-repeat center center;
    background-size: contain;
    width: 100%; height: 100px;
}

.skill1_ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.skill1_ul li:nth-of-type(1) {
    width: 45%; height: 100px;
    background: url(../images/jquery.png) no-repeat center center;
    background-size: contain;
}

.skill1_ul li:nth-of-type(2) {
    width: 45%; height: 100px;
    background: url(../images/sass.png) no-repeat center center;
    background-size: contain;
}

.skill2 p:nth-of-type(1) {
    background: url(../images/node.png) no-repeat center center;
    background-size: contain;
    width: 100%; height: 100px;
}

.skill2 p:nth-of-type(2) {
    background: url(../images/mongodb.jpg) no-repeat center center;
    background-size: contain;
    width: 100%; height: 100px;
}

.skill3 p:nth-of-type(1) {
    background: url(../images/git.png) no-repeat center center;
    background-size: contain;
    width: 70%; height: 100px;
}

.skill3 p:nth-of-type(2) {
    background: url(../images/GitHub_Logo.png) no-repeat center center;
    background-size: contain;
    width: 100%; height: 100px;
}


.skill1_ul2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.skill1_ul2 li:nth-of-type(1) {
    width: 45%; height: 100px;
    background: url(../images/ps.png) no-repeat center center;
    background-size: contain;
}

.skill1_ul2 li:nth-of-type(2) {
    width: 45%; height: 100px;
    background: url(../images/ai.png) no-repeat center center;
    background-size: contain;
}


/* section4 */

.main_section4 {
    background-color: #222;
}

.main_section4 h2 {
    color:#fff;
    border-bottom: 1px solid #ccc;
}

.project_contents {
    width: 1150px; height: auto;
    margin-top: 50px;
    padding:50px;
    border-radius: 20px;
    background-color: white;
    display: flex;
    flex-flow:column nowrap;
    align-items: center;
}

.project_contents h3 {
    font-size: 2.0rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.project_contents > p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    color:#aaa;
}

.project_side {
    width: 100%;
    display: flex;
    flex-flow:row nowrap;
    justify-content: space-between;
}

.project_left {
    width: 48%;
}

.swiper-container {
    height: 100%;
}

.project_right {
    width: 48%;
}

.project_right > p {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #aaa;
}

.stack {

}

.stack dl {
    display: flex;
    margin-bottom: 15px;
}

.stack dl:last-of-type {
    margin-bottom: 0;
}

.stack dl dt {
    margin-right: 15px;
    font-weight: 700;
}

.stack dl dd {}


/* slide */
.swiper-pagination-bullet {
    background-color:#222 !important;
    border-radius: 10px !important;
    width: 8px !important; height: 8px !important;
    transition: width 0.5s;
}


.swiper-pagination-bullet-active {
    width: 20px !important;
    transition: width 0.5s;
}



/* section5 */

.main_section5 {
    background-color: #189bfa;
}

.main_section5 h2 {
    color:#fff;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}

.section5_contents {
    display: flex;
    justify-content: space-between;
    width: 900px;
}

.archiving_box {
    width: 45%;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 1rem 1rem 1rem 0 rgb(68 68 68 / 20%);
    background-color: #fff;
    transition: 0.2s;
}

.archiving_box:hover {
    transform: translateY(-3%);
}


.archiving_box:nth-of-type(1) h3 {
    background : url(../images/GitHub_Logo.png) no-repeat left center;
    width: 100%; height: 50px;
    background-size: contain;
    margin-bottom: 25px;
}

.archiving_box:nth-of-type(2) h3 {
    background : url(../images/tistory.png) no-repeat left center;
    width: 100%; height: 50px;
    background-size: contain;
    margin-bottom: 25px;
}

.archiving_box > p:nth-of-type(1) {
    margin-bottom: 25px;
}

.archiving_box > p:nth-of-type(2) {
    margin-bottom: 25px;
}

.archiving_box ul li {
    margin-bottom: 15px;
}

.archiving_box ul li:last-of-type {
    max-block-size: 0;
}


/* section6 */